<div class="sidebar_contact">
  <div class="title">联系我们</div>
  <h4>名称</h4>
  <p><%=Info.first.name%></p>
  <h4>地址</h4>
  <p><%=Info.first.address%></p>
  <h4>电话</h4>
  <p><%=Info.first.phone%></p>
  <h4>QQ</h4>
  <p><%=Info.first.qq%></p>
  <h4>邮箱</h4>
  <p><%=Info.first.email%></p>
</div>