<div class="sidebar_contact">
  <div class="title">联系我们</div>
  <p>名称: <%=Info.first.name%></p>
  <p>地址: <%=Info.first.address%></p>
  <p>电话: <%=Info.first.phone%></p>
  <p>QQ: <%=Info.first.qq%></p>
  <p>邮箱:<%=Info.first.email%></p>
</div>