<div class="menu">
  <ul>
    <li>
      <a href="/" class="<% if @selected_id == 0 %><%='selected'%><% end %>">首页</a>
    </li>
    <li>
      <a href="/description" class="<% if @selected_id == 1 %><%='selected'%><% end %>">公司简介</a>
    </li>
    <li>
      <a href="#" class="<% if @selected_id == 2 %><%='selected'%><% end %>">产品展示</a>
    </li>
    <li>
      <a href="#" class="<% if @selected_id == 3 %><%='selected'%><% end %>">客户资源</a>
    </li>
    <li>
      <a href="#" class="<% if @selected_id == 4 %><%='selected'%><% end %>">公司团队</a>
    </li>
    <li>
      <a href="#" class="<% if @selected_id == 5 %><%='selected'%><% end %>">联系我们</a>
    </li>
  </ul>
</div>
